.variable-proximity {
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	text-align: justify;
	letter-spacing: -0.04em;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

@media (max-width: 768px) {
	.variable-proximity {
		font-size: 16px;
		font-weight: 100;
		letter-spacing: -0.02em;
	}
}
